<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">    
    
    <style>
      body {
        {% if page.background_image %}
          background: url("{{ page.background_image | relative_url }}") no-repeat center center fixed;
          background-size: cover;
        {% else %}
          background-color: #ffffff; 
        {% endif %}
      }
    </style>
</head>
<body>

    <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/kits' | relative_url }}">Kits</a>
        <a href="{{ '/bio' | relative_url }}">Bio</a>
    </nav>

    <main>
        {{ content }} </main>

    <footer>
        &copy; 2026 Blaine Bettencourt. All rights reserved.
    </footer>

</body>
</html>